
.scholar-background {
    background-color: #333d51;

}
.scholar-primary-color {
    background-color: #d3ac2b;
}
.scholar-secondary-color {
    background-color: #cbd0d8;
}
.scholar-effect-color {
    background-color: #f4f3ea;
}
