{% extends 'parts/base.html' %}

{% block main %}
  {% for contents in contents_list %}
    <div class="container mt-5" id="{{ contents.id }}-{{ contents.slug }}">
      <div class="card card-cascade wider reverse">
        <div class="view view-cascade overlay">
          <div class="carousel slide" data-ride="carousel" id="carousel-header_{{ contents.id }}">
            <div class="carousel-inner">
              {% load sorl_thumbnail %}
              {% for image in contents.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  {% thumbnail image.image "1920x1080" crop="center" as im %}
                    <img class="d-block w-100" src="{{ im.url }}" alt="{{ image.title }}"/>
                  {% endthumbnail %}
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel-header_{{ contents.id }}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-header_{{ contents.id }}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="card-body card-body-cascade">
          <h4 class="card-title scholar-primary-color text-center"><strong>{{ contents.title }}</strong></h4>
          <div class="card-text">{{ contents.contents|safe }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}